img {
    border: solid;
    border-color:#ffffff;
}

body{
    margin: 0px;
    background-color: #808080;

    font-family: cursive;
    color: #f5f5f5;
}
.header {
    display: flex;
    color: #f5f5f5;
    background-color: #000000;
    justify-content: space-between;
}

.pigeon {
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color: #000000;
}    

.teddy-bear {
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color: #000000;
}

.panda {
    border: 1px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color: #000000;
}

.intro {
    background-color: #000000;
}

.tutorials{
    display: flex;
    flex-wrap:wrap;
    color: #ffffff;
    justify-content: space-evenly;

}

.media{
    display: flex;
    flex-wrap:wrap;
    color: #ffffff;
    justify-content: space-evenly;

}

